*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
.title{
    background-color:black;
    color:wheat;
    padding: 25px;
    cursor: pointer;
    width: 100%;
    margin: 1em;
    text-decoration: none;
    border: white 3px solid;
    border-radius: 2em;
    
}
h1,li,ul{
    display: inline;
}
ul {
    margin-left: 45%;
    
}
li:hover{
    color: blue;
    
}
.big-logo{
    justify-content: center;
    color: black;
    border-color:antiquewhite;
    border-width: 12px;
    border-style: outset;
    border-radius: 30px;

}

h1:hover{
    color: blue;
}
p:hover{
    color: blueviolet;
}
 .title1{
    text-align: center;
}
.shoes{
    display: flex;
    flex-wrap: wrap;
    margin-left:20px;
    padding: 10px;
    justify-content: space-around;

}
#one{
    background-color: blue;
    color: white;
}
.shoes div{
    width: 100px;
    color:black;
    margin: 10px;
    flex-basis: 23%;
    flex-grow:1 ;
    border-color: black;
    border-width: 3px;
    border-style: inset;
    border-radius: 45px;
    padding: 15px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin-left:20px;
    padding: 30px
    
    
}
.casual{
    color: black;
    text-align: center;
    padding: 10px;
}

.container div {
    width: 200px;
    color:black;
    margin: 10px;
    flex-basis: 23%;
    flex-grow:1 ;
    border-color: rgb(111, 92, 92);
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
    padding: 15px;
}
.container-lousio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.lousios{
    color:brown;
}
.container-lousio div{
    width: 200px;
    margin: 10px;
    color: black;
    flex-basis: 23%;
    flex-grow: 1;
    border-color: rgb(111, 92, 92);
    border-width: 2px;
    border-style: dotted;
    border-radius: 8px;
    padding: 15px;

}
.container-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.lousios{
    color: orange;
}
.container-login div{
    width: 200px;
    margin: 10px;
    color: black;
    flex-basis: 23%;
    flex-grow: 1;
    border-color: rgb(111, 92, 92);
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    padding: 15px;

}



    
